* {
  scrollbar-width: thin;

}
/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body{
  margin:0;
  padding:0;
  background:#ffffff;
  box-sizing: border-box;
    /*background-color: 	#F2AA4CFF;*/
}
header{
  background:#93c2db;
  color:;
  padding:0px;
  font-family: 'Inter Regular', 'Helvetica' , 'Arial' ,san-serif;
}
h3{
  text-transform: capitalize;
  margin-left:20px;
  color:#000000;
  text-align: center;
  font-family: 'Inter Regular', 'Helvetica' , 'Arial' ,san-serif;
}
iframe{
  border: none;
    overflow: hidden;
}
.card{
  margin-top: 20px;
}

.GFG {
           background-color: white;
           border: 2px solid black;
           color: green;
           padding: 5px 10px;
           text-align: center;
           display: inline-block;
           font-size: 20px;
           margin: 10px 700px;
           cursor: pointer;
           border-radius: 9px;
       }
